.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }


/*footer {*/
    /*    background-color: #F4F6F7;
*/

/*}*/
.footer {
    background-color: #F4F6F7;
    height: 20px;
}
.main {
    min-height: calc(100vh - 50px);
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

hr {
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
}

    hr:after {
        display: block;
        content: '';
        height: 30px;
        background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
        background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
        background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
        background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    }


.short {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

    .short:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 25%;
        border-bottom: 1px solid grey;
    }

input, button, submit {
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    color: #495057;
}

.pullright {
    float: right;
    margin: 2px;
    padding: 2px;
}

.stats {
    font-family: "Montserrat", sans-serif;
}
.default-font {
    font-family: "Montserrat", sans-serif;
}
