@model IndexVM
@{
    ViewData["Title"] = "Create new story";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tagin@2.0.2/dist/tagin.min.css">
    <style>
        .pullright {
            float: right;
            margin: 2px;
        }

        #pic {
            display: none;
        }

        .newbtn {
            cursor: pointer;
        }

        #img-container {
            object-fit: cover;
            height: 390px;
        }

        .txtCustom > input[type="text"], textarea {
            background-color: #2A3038;
            color: white;
        }

        .tagin-wrapper.focus {
            color: none;
            outline: 0;
            border-color: green;
            background-color: #2A3038;
            box-shadow: none
        }
    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <div class="col-8">
                    <ul class="nav pullright" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class=" btn btn-info btn-fw" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="bi bi-list-nested"></i> Story Details</button>
                        </li>
                        &nbsp;
                        <li class="nav-item" role="presentation">
                            <button class="btn btn-primary btn-fw" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i class="bi bi-card-text"></i> Chapter</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <!--content-->
            <div class="tab-content" id="myTabContent" style="border:none;">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="form-group ">
                                                    <label for="exampleInputUsername1">Title</label>
                                                    <input asp-for="stories.Title" type="text" class="form-control text-white " id="exampleInputUsername1" placeholder="Untitled Story">

                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Description</label>
                                                    <textarea asp-for="stories.Desc" class="form-control text-white" rows="5" id="exampleFormControlTextarea1" style="height:100%;"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Tags</label>
                                                    <input name="stories.Tags" type="text" class="form-control tagin txtCustom" data-tagin-separator=" ">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="exampleInputEmail1">Category</label>
                                                    <select class="form-control text-white" asp-for="stories.Genre">
                                                        <option value="" selected="true" disabled="disabled" class="text-muted">Select a category...</option>
                                                        <option value="Action">Action</option>
                                                        <option value="Adventure">Adventure</option>
                                                        <option value="ChickLit">ChickLit</option>
                                                        <option value="Fanfiction">Fanfiction</option>
                                                        <option value="Fantasy">Fantasy</option>
                                                        <option value="General">General Fiction</option>
                                                        <option value="Historical">Historical Fiction</option>
                                                        <option value="Horror">Horror</option>
                                                        <option value="Humor">Humor</option>
                                                        <option value="Mystery / Thriller">Mystery / Thriller</option>
                                                        <option value="Non-Fiction">Non-Fiction</option>
                                                        <option value="Paranormal">Paranormal</option>
                                                        <option value="Poetry">Poetry</option>
                                                        <option value="Random">Random</option>
                                                        <option value="Romance">Romance</option>
                                                        <option value="Science Fiction">Science Fiction</option>
                                                        <option value="Short Story">Short Story</option>
                                                        <option value="Spiritual">Spiritual</option>
                                                        <option value="Teen Fiction">Teen Fiction</option>
                                                        <option value="Vampire">Vampire</option>
                                                        <option value="Werewolf">Werewolf</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <div class="card stretch-card bg-transparent">
                                                    <img id="img-container" class="newbtn img-fluid" src="~/images/img-placeholder.png">
                                                    <input asp-for="stories.Cover" id="pic" type="file" name="Cover" onchange="previewFile(this);">
                                                </div>
                                                <p class="card-description"> Stories with a cover image get 23x more reads than ones without </p>
                                                <p class="card-description"> Must be in PNG, GIF, or JPG format, smaller than 2MB. Recommended cover dimensions: <code>512x800</code> pixels </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="row">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-8 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1"> <i class="mdi mdi-lead-pencil"></i></span>
                                                    <input asp-for="chapters.Title" type="text" class="form-control text-white col-md-6" value="Untitled part" aria-describedby="basic-addon1" onclick="this.select()">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-inverse-success btn-fw pullright" type="submit"><i class="bi bi-card-text"></i> Save</button>
                                            </div>
                                        </div>
                                        <div class="">
                                            <textarea name="chapters.Content" class="ckeditor"></textarea>
                                            <script>
                                                CKEDITOR.replace('editor1');
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://unpkg.com/prismjs/prism.js"></script>
    <script src="https://unpkg.com/prismjs/plugins/file-highlight/prism-file-highlight.min.js"></script>
    <script src="https://unpkg.com/tagin@2.0.2/dist/tagin.min.js"></script>
    <script type="text/javascript">
        // add row
        $("#addRow").click(function() {
            var html = '';
            html += '<div id="inputFormRow">';
            html += '<div class="input-group mb-3 ">';
            html += '<input type="text" name="names[]" class="form-control m-input text-white " placeholder="Name" autocomplete="off">';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger"><i class="mdi mdi-close"></i></button>';
            html += '</div>';
            html += '</div>';

            $('#newRow').append(html);
        });

        // remove row
        $(document).on('click', '#removeRow', function() {
            $(this).closest('#inputFormRow').remove();
        });

        // upload image and preview
        $('.newbtn').bind("click", function() {
            $('#pic').click();
        });

        function previewFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#img-container')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        //tags
        const tagin = new Tagin(document.querySelector('.tagin'), {
            enter: true
        })

    </script>
</body>
</html>
