@model Blog

<partial name="_Notification" />
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Blog & Random Thoughts Posts</span>
        <h3 class="page-title">New Blog Post</h3>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card card-small mb-3">
                <div class="card-body">
                    <input asp-for="Title" class="form-control form-control-lg mb-3" type="text" placeholder="Your Post Title">
                    <textarea asp-for="Content" class="ckeditor" id="editor1"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Actions</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex px-3">
                            <button class="btn btn-sm btn-outline-accent" type="submit" name="submit" value="Draft">
                                <i class="material-icons">save</i> Save Draft
                            </button>
                            <button class="btn btn-sm btn-accent ml-auto" type="submit" name="submit" value="Published">
                                <i class="material-icons">file_copy</i> Publish
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    CKEDITOR.replace('editor1', {
        height: 400
    });
</script>