<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Blog & Random Thoughts Posts</span>
        <h3 class="page-title">Add New Post</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12 mb-4">
        <div class="card card-small card-post card-post--aside card-post--1">
            <div class="card-post__image" style="background-image: url('../images/content-management/blog-thumbnail.jpg');">
                <div class="card-post__author d-flex">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-fiord-blue stretched-link" href="@Url.Action("BlogPost","New")">New Blog Post</a>
                </h5>
                <p class="card-text d-inline-block mb-3"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 mb-4">
        <div class="card card-small card-post card-post--aside card-post--1">
            <div class="card-post__image" style="background-image: url('../images/content-management/random-thumbnail.jpg');">
                <div class="card-post__author d-flex">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-fiord-blue stretched-link" href="@Url.Action("RandomPost","New")">New Random Thoughts Post</a>
                </h5>
                <p class="card-text d-inline-block mb-3"></p>
            </div>
        </div>
    </div>

</div>
