@model Story

<partial name="_Notification" />

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Create New Story</span>
        <h3 class="page-title">Story Details</h3>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card card-small mb-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Title</label>
                                        <input name="Title" type="text" class="form-control" placeholder="Title...">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Description</label>
                                        <textarea name="Desc" class="form-control" rows="5" placeholder="Description..."></textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Tags</label>
                                        <input name="Tags" type="text" class="form-control tagin txtCustom" data-tagin-separator=" ">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Category</label>
                                        <select class="form-control" name="Genre">
                                            <option value="" selected="true" disabled="disabled" class="text-muted">Select a category...</option>
                                            <option value="Action">Action</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="ChickLit">ChickLit</option>
                                            <option value="Fanfiction">Fanfiction</option>
                                            <option value="Fantasy">Fantasy</option>
                                            <option value="General">General Fiction</option>
                                            <option value="Historical">Historical Fiction</option>
                                            <option value="Horror">Horror</option>
                                            <option value="Humor">Humor</option>
                                            <option value="Mystery / Thriller">Mystery / Thriller</option>
                                            <option value="Non-Fiction">Non-Fiction</option>
                                            <option value="Paranormal">Paranormal</option>
                                            <option value="Poetry">Poetry</option>
                                            <option value="Random">Random</option>
                                            <option value="Romance">Romance</option>
                                            <option value="Science Fiction">Science Fiction</option>
                                            <option value="Short Story">Short Story</option>
                                            <option value="Spiritual">Spiritual</option>
                                            <option value="Teen Fiction">Teen Fiction</option>
                                            <option value="Vampire">Vampire</option>
                                            <option value="Werewolf">Werewolf</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card stretch-card bg-transparent">
                                    <img id="img-container" class="newbtn img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg">
                                    <input name="Cover" id="pic" type="file" onchange="previewFile(this);">
                                </div>
                                <p class="card-description"> Stories with a cover image get 23x more reads than ones without </p>
                                <p class="card-description"> Must be in PNG, GIF, or JPG format, smaller than 2MB. Recommended cover dimensions: <code>512x800</code> pixels </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Actions</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex px-3">
                            <button class="btn btn-sm btn-accent ml-auto" type="submit">
                                <i class="material-icons">file_copy</i> Save
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://unpkg.com/prismjs/prism.js"></script>
<script src="https://unpkg.com/prismjs/plugins/file-highlight/prism-file-highlight.min.js"></script>
<script src="https://unpkg.com/tagin@2.0.2/dist/tagin.min.js"></script>