#pic {
    display: none;
}

.newbtn {
    cursor: pointer;
}

#img-container {
    object-fit: cover;
    height: 390px;
}
#profile-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #profile-container img {
        height: 100%;
        width: auto;
    }

.txtCustom > input[type="text"], textarea {
    background-color: white;
    color: black;
}

.tagin-wrapper.focus {
    color: none;
    outline: 0;
    border-color: green;
    background-color: #2A3038;
    box-shadow: none
}
.ex3 {
    height: 650px;
    overflow: auto;
    background-color: transparent;
}
::-webkit-scrollbar {
    display: none;
}
.table-responsive {
    max-height: 650px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.pullright {
    float: right;
    margin: 2px;
    display: flex;
}